/* display properties: override as needed */

/* the block of times in the background of the main timeline */
.tlMainTimeBlock {
    border-left: 1px #cccccc dashed;
}

/* the dates of the main timeline */
.tlMainDate {
    text-align: center;
    border: 1px #555555 solid;
    padding-top: 5px;
    padding-bottom: 3px;
}

/* the events of the main timeline */
.tlMainEvent {
    padding-bottom: 5px;
}

/* the block of times in the background of the main timeline */
.tlOverviewTimeBlock {
    border-left: 1px #dddddd dashed;
}

/* the dates of the overview timeline */
.tlOverviewDate {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

