/* general properties, you shouldn't need to override them */

/* the main timeline */
.tlMain {
    position: relative;
    overflow: auto;
}

/* the block of times in the background of the main timeline */
.tlMainTimeBlock {
    position: absolute;
    z-index: 1;
}

/* the dates of the main timeline */
.tlMainDate {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

/* the events of the main timeline */
.tlMainEvent {
    position: absolute;
    z-index: 3;
}

/* the overview timeline */
.tlOverview {
    position: relative;
    overflow: hidden;
}

/* the block of times in the background of the overview timeline */
.tlOverviewTimeBlock {
    position: absolute;
    height: 100%;
    z-index: 2;
}

/* the dates of the overview timeline */
.tlOverviewDate {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

/* the events of the overview timeline */
.tlOverviewEvent {
    position: absolute;
    z-index: 4;
}

/* clickable blocks */
.tlClickable {
    cursor: pointer;
}

/* in the overview timeline show the time period currently displayed*/
.tlDisplayedZone {
    position: absolute;
    z-index: 1;
    height: 100%;
}