/* display properties: override as needed */

/* the blocks representing the years in the background of the main timeline */
.tlMainTimeBlock {
    border-left: 1px #cccccc dashed;
}

/* the dates of the main timeline */
.tlMainDate {
    text-align: center;
    border: 1px #555555 solid;
    padding-top: 5px;
    padding-bottom: 3px;
}

/* the events of the main timeline */
.tlMainEvent {
    padding-bottom: 5px;
}

.defaultMainEvent {
    height: 7px;
    width: 7px;
}

/* the block of time in the background of the overview timeline */
.tlOverviewTimeBlock {
    border-left: 1px #dddddd dashed;
}

/* the dates of the overview timeline */
.tlOverviewDate {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* in the overview timeline show the time period currently displayed in the main timeline*/
.tlDisplayedZone {
    border: 1px #dddddd dashed;
}
